

h1 {
    text-align: center;
    background-color: #f1f1f1;
    padding: 20px;
}

p {
    font-size: 20px;
    color: #010101;
}

button {
    background-color: rgb(21, 21, 41);
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
}